@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-wrapper {
    width: 500px;
    margin: 0 auto;
}

.App {
    text-align: center;
    margin-top: 30px;
}
/* 
nav {
    width: 300px;
    margin: 0 auto;
    background: #282c34;
    height: 70px;
    line-height: 70px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 30px;
}

nav ul li a {
    margin: 50px 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
} */

table {
    margin-top: 50px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: unset;
    min-height: 0;
    background: #f0f2f5;
}

.ant-modal-content {
    border-radius: 20px;
    background: rgb(196, 205, 241);
}

.ant-modal-body {
    padding: 0px;
}

.ant-modal-header {
    background: rgb(44, 79, 235);
}

.ant-modal-title {
    color: rgb(233, 222, 222)
}